{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Giełda-aut.pl</title>
	
	<!-- core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       

</head><!--/head-->

<body class="homepage">

    <header id="header">
    

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Strona Główna</a></li>
                        <li><a href="#">Oferta</a></li>
                      
                        <li><a href="portfolio.html">Blog</a></li>                       
                        <li><a href="blog.html">Regulamin</a></li> 
                        <li><a href="contact-us.html">Pomoc</a></li>    
			<li><a href="contact-us.html">Kontakt</a></li>   						
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->


   
    <section id="blog_header" class="service-item padding">
	   <div class="container padding">
        
               <div class="col-sm-12 padding">
					<div class="col-sm-7 padding" style="margin-left:-150px;">
					<img src="images/blog_title.png" class="img-responsive" />
					</div>
					<div class="col-sm-6">
					
					<div class="ogloszenie-tytul-wpisu">Porshe 911  991  350KM Manual</div>
					<div class="ogloszenie-head-text"> Dane techniczne</div><BR>
					
					
					
								<div class="col-sm-3 border padding">
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Oferta od</div><div class="small-font2">Osoby prywatnej</div>
										</div>
							
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Kategoria</div><div class="small-font2">Osobowe</div>
										</div>
										
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Marka</div><div class="small-font2">Porshe</div>
										</div>
										
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Model</div><div class="small-font2">Carrea 911</div>
										</div>
										
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Rok produkcji</div><div class="small-font2">1977</div>
										</div>
								
									
								
											
							
										
								
							</div>
							<div class="col-sm-3 border padding">
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Przebieg</div><div class="small-font2">247 584 km2</div>
										</div>
							
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Rodzaj paliwa</div><div class="small-font2">Diesel</div>
										</div>
										
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Pojemnośc skokowa</div><div class="small-font2">2500 cm3</div>
										</div>
										
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Moc</div><div class="small-font2">300 km</div>
										</div>
										
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Skrzynia biegów</div><div class="small-font2">Manualna</div>
										</div>
								
									
								
											
							
										
								
							</div>
							<div class="col-sm-3 border padding">
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Napęd</div><div class="small-font2">Na przednie koła</div>
										</div>
							
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Typ</div><div class="small-font2">Sedan</div>
										</div>
										
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Liczba drzwi</div><div class="small-font2">5</div>
										</div>
										
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Kolor</div><div class="small-font2">Czarny</div>
										</div>
										
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Perłowy</div><div class="small-font2">Tak</div>
										</div>
								
									
								
											
							
										
								
							</div>
							<div class="col-sm-3 padding">
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Kraj pochodzenia</div><div class="small-font2">Włochy</div>
										</div>
							
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Pierwsza rejestracja</div><div class="small-font2">Polska</div>
										</div>
										
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Zarejestrowany</div><div class="small-font2">maj 2012</div>
										</div>
										
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Bezwypadkowy</div><div class="small-font2">Tak</div>
										</div>
										
										<div class="col-sm-12 padding padding-bottom" style="padding-left:5px; padding-bottom:10px;">
											<div class="small-font">Serwisowany</div><div class="small-font2">Tak</div>
										</div>
								
									
								
											
							
										
								
							</div>
								
							
					</div>
					 
				                                            
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

    
	
	<section id="main-section">
        <div class="container">
		   <div class="row">
		   <div class="col-sm-12  margin-bottom-index">
						<div class="col-sm-3">
						        <div class="portfolio-item joomla html bootstrap">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/blog_title.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                  
                                    <a class="preview" href="images/blog_title.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Podgląd</a>
                                </div> 
                            </div>
                        </div> 
					</div>						
                    </div><!--/.portfolio-item-->
							<div class="col-sm-3">
                        <div class="portfolio-item joomla html bootstrap">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/blog_title.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                  
                                    <a class="preview" href="images/blog_title.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Podgląd</a>
                                </div> 
								</div>
                            </div>
                        </div>      
                    </div><!--/.portfolio-item-->
							<div class="col-sm-3">
                            <div class="portfolio-item joomla html bootstrap">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/blog_title.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                  
                                    <a class="preview" href="images/blog_title.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Podgląd</a>
                                </div> 
                            </div>
                        </div>
									</div>
                    </div><!--/.portfolio-item-->
							<div class="col-sm-3">
                    <div class="portfolio-item joomla html bootstrap">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/blog_title.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                  
                                    <a class="preview" href="images/blog_title.png" rel="prettyPhoto"><i class="fa fa-eye"></i> Podgląd</a>
                                </div> 
                            </div>
                        </div> 
							</div>
                    </div><!--/.portfolio-item-->
					</div>
					
						 <div class="col-sm-12 margin-bottom-index">
					
						 <div class="col-sm-3 margin-bottom-index padding ogloszenie-design">
						  <div class="col-sm-12 title-ogloszenie">
									<BR>Wyposażenie<BR>
						  </div><BR><BR>
								 <div class="ogloszenie-specyfikacja"><i class="fa fa-check" style="color:#d72e2f;"></i> ABS</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-times"style="color:#2a2a3c;"></i> Bluetooth</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-times"style="color:#2a2a3c;"></i> Elektryczne szyby tylne</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-times"style="color:#2a2a3c;"></i> Klimatyzacja</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-times"style="color:#2a2a3c;"></i> Podgrzewane lusterka boczne</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-times"style="color:#2a2a3c;"></i> 	Alarm</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-times"style="color:#2a2a3c;"></i> CD</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-times"style="color:#2a2a3c;"></i> Elektryczne lusterka</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-check" style="color:#d72e2f;"></i> Immobilizer</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-check" style="color:#d72e2f;"></i> Kurtyny powietrzne</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-check" style="color:#d72e2f;"></i> Wyjście aux</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-check" style="color:#d72e2f;"></i> Komputer pokładowy</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-check" style="color:#d72e2f;"></i> Tylne urtyny powietrzne</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-check" style="color:#d72e2f;"></i> Alufelgi</div>
								<div class="ogloszenie-specyfikacja"><i class="fa fa-check" style="color:#d72e2f;"></i> Wspomaganie kierownicy</div>	<BR>							
		
						</div>
						<div class="col-sm-6 margin-bottom-index">
								<h4>Porshe 911 991  Carrea 350km manual</h4>
								<h5>Osobowe-Porshe</h5><BR>
								<div class="col-sm-12 padding">
									<price>25 547</price><valuta>PLN</valuta><BR><p class="ogloszenie-info">Brutto, Faktura VAT, do negocjacji</p>
								</div>
								<p class="text"> lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet lorem ipsum dolor sit atmet </p>
								<BR><BR>
								<p class="text"> -lorem ipsum dolor sit atmet<BR> -lorem ipsum dolor sit atmet lorem ipsum<BR> -dolor sit atmet lorem ipsum dolor sit atmet<BR> -lorem ipsum dolor sit atmet lorem ipsum dolor<BR> -sit atmet lorem ipsum dolor sit atmet<BR> -lorem ipsum dolor </p>
						</div>
						<div class="col-sm-3 padding margin-bottom-index">
						 <div class="col-sm-12 margin-bottom-index padding ogloszenie-design">
						  <div class="col-sm-12 title-ogloszenie">
									<BR>Dane Kontaktowe<BR>
						  </div><BR><BR>
						 <div class="col-sm-12">
						  <div class="col-sm-12padding  margin-top"><i class="fa fa-user fa-2x" style="color:#3b5998; float:left; margin-right:7px;"></i> <div class="infor">Janusz Markiewicz</div> </div>
						 
						  <div class="col-sm-12 padding margin-top"><i class="fa fa-phone fa-2x" style="color:#3b5998; float:left;  margin-right:7px;"></i> <div class="infor">+48 587 547 *** </div><button  class="button show" >Pokaż</button></div>
						  
						  </div>
						   <div class="col-sm-12 ogl-margin">
						<button type="submit" name="submit" class="btn btn-primary-nav btn-lg">Wyślij wiadomość</button>
					 </div>  
					 </div>
						<div class="col-sm-12 padding margin-top"><BR>
							<img src="images/mapa.png" class="img-responsive"/><BR>
							<a href="" class="infoo right">Drukuj</a> <a href="" class="infoo right" style="margin-right:10px;">Zgłoś naruszenie</a>
							<br>
							<p class="ogloszenie-info">Dodane 16:40, 15.12.2016, id: 000024</p>
						</div>
						</div>
								   
		   
		   </div>
		   <div class="col-sm-12 margin-bottom-index">
						<h4>Oferty specjalne</h4>
						
					
						
						
									<div class="col-sm-3 border padding oferta-style">
									<img src="images/oferta_car.png" class="img-responsive"/>
									<div class="col-sm-12 oferta-style">
									Opel Aster, sprowadzony, nie bity, opłacone OC/AC<div class="oferta-cena">25 000 PLN</div>
									</div>
									</div>
									
									<div class="col-sm-3 border padding oferta-style">
									<img src="images/oferta_car.png" class="img-responsive"/>
									<div class="col-sm-12 oferta-style">
									Opel Aster, sprowadzony, nie bity, opłacone OC/AC<div class="oferta-cena">25 000 PLN</div>
									</div>
									</div>
									
									<div class="col-sm-3 border padding oferta-style">
									<img src="images/oferta_car.png" class="img-responsive"/>
									<div class="col-sm-12 oferta-style">
									Opel Aster, sprowadzony, nie bity, opłacone OC/AC<div class="oferta-cena">25 000 PLN</div>
									</div>
									</div>
									
									<div class="col-sm-3 border padding oferta-style">
									<img src="images/oferta_car.png" class="img-responsive"/>
									<div class="col-sm-12 oferta-style">
									Opel Aster, sprowadzony, nie bity, opłacone OC/AC<div class="oferta-cena">25 000 PLN</div>
									</div>
									</div>
									
			</div>
			
			
        </div><!--/.container-->
    </section>
   

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                   
                      
                        <div class="media-body">
								<div class="center">
                            <h2>Pytania? Zadzwoń do nas już teraz <number>+48 555 888 777</number> lub wyslij <BR>e-mail na adres <number>info@gielda-aut.pl</number></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80</p>
							<div class="col-md-12 col-sm-6 margin">
									<button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Kontakt</button>
								</div>
								</div>
                        </div>
                    
                </div>
            </div>
        </div><!--/.container-->    
    </section><!--/#conatcat-info-->

  

    <div class="stopka">
        <div class="container">
            <div class="row hidden-xs ">
                
                <div class="col-sm-6 border">
                    <div class="row hidden-sm">
                        <div class="col-md-4">
                            <h4 class="naglowek_stopka_menu">Oferta</h4>
                            <ul class="footer_menu">
                                <li><a href="#">Osobowe</a></li>
								<li><a href="#">Rolnicze</a></li>
								<li><a href="#">Ciężarowe</a></li>
								<li><a href="#">Dostawcze</a></li>
								<li><a href="#">Motocykle</a></li>
								<li><a href="#">Budowlane</a></li>
								<li><a href="#">Przyczepy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4 class="naglowek_stopka_menu">Dla klienta</h4>
                            <ul class="footer_menu">
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
                            </ul>
                        </div>
						 <div class="col-md-4">
                            <h4 class="naglowek_stopka_menu">Inne</h4>
                            <ul class="footer_menu">
                                <li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								
                               
                            </ul>
                        </div>
						</div>
						<div class="row visible-sm">
						 <div class="accordion">
                       
                        <div class="panel-group" id="accordion1">
                          

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                 Oferta
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                                 <ul class="footer_menu">
                                <li><a href="#">Osobowe</a></li>
								<li><a href="#">Rolnicze</a></li>
								<li><a href="#">Ciężarowe</a></li>
								<li><a href="#">Dostawcze</a></li>
								<li><a href="#">Motocykle</a></li>
								<li><a href="#">Budowlane</a></li>
								<li><a href="#">Przyczepy</a></li>
                            </ul>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  Dla Klienta
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                                <ul class="footer_menu">
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
                            </ul>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  Inne
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
                                <ul class="footer_menu">
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
                            </ul>
                              </div>
                            </div>
                          </div>
                        </div><!--/#accordion1-->
                    </div>
						
						</div>
						
						<div class="col-md-12 netbook">
						<div class="row margin">
						<img src="{% static 'images/logo.png' %}" alt="giełda aut"/>
						<div class="media-body">
						Copyright 2015 for Giełda aut.<BR>
						<a href="#" alt="pliki COOKIES">Strona wykorzystuje pliki cookie</a>
						</div>
					</div>
						
                    </div>
					
                </div>
				<div class="col-sm-6">
                     <h4 class="naglowek_stopka_menu">Dlaczego my?</h4>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. </p><BR><BR>

                   <div class="col-sm-12" style="padding-left:0px;">
					<div class="col-sm-4 hidden-sm" style="padding-left:0px;">
					<h4 class="naglowek_stopka_menu">Bądź na bieżąco</h4>
					</div>
					<div class="col-sm-12 visible-sm">
					 <form method="post" action="">
					
							
						<div class="col-sm-8" style="padding-left:0px;">
						<input type="text" placeholder="Twój email" class="form-control">
						</div>
						<div class="col-sm-3" style="padding-left:0px; float:right;">
						<input type="submit" class="btn-primary" value="Szukaj">
						</div>
					<BR><BR><BR>
					</form>
					</div>
				   <div class="col-sm-8 hidden-sm">
				   
					 <form method="post" action="">
					
							
						<div class="col-sm-8" style="padding-left:0px;">
						<input type="text" placeholder="Twój email" class="form-control">
						</div>
						<div class="col-sm-3" style="padding-left:0px; float:right;">
						<input type="submit" class="btn-primary" value="Szukaj">
						</div>
					<BR><BR><BR>
					</form>
					</div>
				   </div>
				  
                </div>
			
				
					
            </div>
			<div class="col-md-12 center visible-xs">
						<div class="col-sm-12">
							<h4 class="naglowek_stopka_menu">Dlaczego my?</h4>

								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p><BR><BR>

                  
				  
                </div>
				   <div class="col-sm-6 wow fadeInDown">
                    <div class="accordion">
                       
                        <div class="panel-group" id="accordion1">
                          

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                 Oferta
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                              <div class="panel-body">
                                 <ul class="footer_menu">
                                <li><a href="#">Osobowe</a></li>
								<li><a href="#">Rolnicze</a></li>
								<li><a href="#">Ciężarowe</a></li>
								<li><a href="#">Dostawcze</a></li>
								<li><a href="#">Motocykle</a></li>
								<li><a href="#">Budowlane</a></li>
								<li><a href="#">Przyczepy</a></li>
                            </ul>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  Dla Klienta
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                                <ul class="footer_menu">
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
                            </ul>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                  Inne
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                              <div class="panel-body">
                                <ul class="footer_menu">
                                <li><a href="#">Lorem ipsum</a></li>
                                <li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
								<li><a href="#">Lorem ipsum</a></li>
                            </ul>
                              </div>
                            </div>
                          </div>
                        </div><!--/#accordion1-->
                    </div>
                </div>
				

						<div class="row margin visible-xs-block visible-sm-block">
						<img src="{% static 'images/logo.png' %}" alt="giełda aut"/>
						<div class="media-body">
						Copyright 2015 for Giełda aut.<BR>
						<a href="#" alt="pliki COOKIES">Strona wykorzystuje pliki cookie</a>
						</div>
					</div>
						
                    </div>
        </div>
    </div>
    <script src="js/plugins.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>